MainMenu
{
	pointer-events: all;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	backdrop-filter: blur(10px) saturate(80%);
	justify-content: center;
	align-items: center;
	font-weight: bold;
	flex-direction: column;
	gap: 30px;

    > h2
    {
      font-weight: bolder;
      font-size: 128px;
    }
    
    > h3
    {
      position: absolute;
      right: 12px;
      bottom: 12px;
      font-weight: bold;
      font-size: 32px;
    }
  
	.button
	{
		font-family: "Alef";
		color: black;
		font-size: 64px;
		justify-content: center;
		align-items: center;

		background-color: grey;
		width: 500px;
		padding: 10px;
		transition: background-color 0.5s ease;
		border-radius: 10px;

		&:hover
		{
			background-color: white;
		}

		&:focus,
		&:active
		{
			background-color: grey;
			transition: none;
		}
	}
}